{% extends 'base.html.twig'%}
{% block title %}
information
{% endblock %}
{% block body %}
<div class="container">
    <h2 class="alert alert-danger mt-4"> L'accès à la page vous a été refusé</h2>
    {% if not date_error %}
        <p >Vous ne pouvez pas avoir accès à ce projet. Pour faire une demande de Fonds 
        <a href="{{path('home')}}"> merci de cliquer sur ce lien</a></p>
    {% else %}
        <p >Vous ne pouvez pas avoir accès à ce projet. Pour cause, vous avez dépassé le délai de 10 minutes d'attente.<br>
             Pour faire une nouvelle demande de Fonds 
        <a href="{{path('home')}}"> merci de cliquer sur ce lien</a></p>
    {% endif %}
</div>
{% endblock %}