{% extends 'base.html.twig' %}
{% block title %}
information de sauvegarde de données
{% endblock %}
{% block body %}
<div class="container">
    <div class="alert alert-success mt-5">
        <p>
           les données que vous avez renseignées pour la commission <strong>{{titre}}</strong> ont été enregistré avec succès. <br>
           Un mail vous a été envoyé à l'adresse que vous avez indiquer dans ... vous pouvez cliquer sur le lien pour revenir et modifier vos informations avant le {{dateFin| date('d/m/Y')}}.
        </p>
    </div>
    <a href="{{path('all_fields_form',{'id':idProjet,'idSession':idSession})}}" class="btn btn-secondary lienRetourForm"> Revenir au formulaire</a>
    <a href="#" class="btn btn-secondary lienFermer"> Fermer</a>
</div>
{% endblock %}