{% extends 'base.html.twig' %}
{% block title %}
information de sauvegarde de données
{% endblock %}
{% block body %}
<div class="container">
    <div class="alert alert-success mt-5">
        <p>
           Les données que vous avez renseignées pour la commission <strong>{{titre}}</strong> ont été enregistré avec succès. <br>
           Un mail vous a été envoyé, vous pouvez cliquer sur le lien pour revenir et modifier vos informations avant le {{dateFin| date('d/m/Y')}}.
        </p>
    </div>
    <a href="{{path('applicant_connect',{'mail':mail,'token':token,'token_date':token_date})}}" class="btn btn-secondary lienRetourForm"> Revenir au formulaire</a>
</div>
{% endblock %}