<div class="container">
    <h2 class="alert alert-danger"> informations</h2>
    <p class="alert alert-danger" >vous ne pouvez pas avoir accèss à ce projet pour revenir à l'acceuil cliquer sur ce lien<a href="#"></a></p>
</div>
