<h2> Retour au formulaire d'inscription en ligne</h2>
<p> Bonjour,</p>
<p> Vous avez enregistré des informations pour le fonds de soutien chez Normandie Images.</p>
<p> Le lien suivant vous permet de revenir et modifier le formulaire d'inscription </p>
<p><strong>Attention: ce lien expire dans 10 min</strong> </p>
<a href="{{ url('applicant_connect',{'mail':mail,'token':token,'token_date':token_date})}}">accéder au formulaire d'inscription en ligne</a>