<h2> Retour au formulaire d'inscription en ligne</h2>
<p> Bonjour,</p>
<p> Vous avez enregistré des informations pour le fonds de soutien chez Normandie Images.</p>
<p> Le lien suivant vous permet de revenir et modifier le formulaire d'inscription </p>
<a href="{{ url('connexion_edit',{'idSession':idSession,'idProjet':idProjet,'pass':pass})}}">accéder au formulaire d'inscription en ligne</a>