<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}calendrier des commissions de soutien{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}
        <script src="/js-update/auteurrealisateur.js"></script>
        <script src="/js-update/document.js"></script>
        <script src="/js-update/producteur.js"></script>
         <script src="/js-update/fontAwesome.js"></script>
        <script src="/js-update/app.js"></script>
        {% endblock %}
    </body>
</html>
